{
  "root": true,
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "ignorePatterns": ["node_modules"],
  "plugins": ["prettier"],
  "rules": { "prettier/prettier": ["error"] }
}
